@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stars {
  background: url('/starsBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  background-blend-mode: multiply; /* Blends the color with the image */
}

:root {
  --font-karla: "Karla", sans-serif;
}

body {
  font-family: var(--font-karla);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.marquee {
  animation: marquee 20s linear infinite;
}
